
{{#if error}}
<p>La descricripcion {{descripcion}} para el cliente {{cliente}} ya existe, eso significa que estas tratando de mandar una cotizacion duplicada y no es posible, lo siento.</p>
{{else}}
<p>Hola, se creo una cotizacion para el cliente {{cliente}}, con la siguiente informacion. sub-descripciones: {{sub_descripciones}} <br> Gastos unitarios: ${{gastosUnitarios}}<br>Gasto de material total: ${{gasto}}<br>Porcentaje de ganancia: {{porcentajeGanancia}}<br>Precio al cliente: ${{precioCliente}}</p>
{{/if}}